body 
{
    
}
#Container
{
    width:900px;
    margin:0 auto;
}

#Masthead
{
    width:900px;
    height:110px;
}

#Navigation
{
    width:900px;
    height:36px;
}


#menu
{
    height: 36px;
    width: 900px;
   /* margin-left: 30px;*/
    padding-top:3px;
}

#MainContent
{
    width:900px;
}

#LeftColumn
{
    width:600px;
    float:left;
}

#RightColumn
{
    width:300px;
    float:left;
}

#Footer
{
    width:900px;
    height:70px;
}

.clearfloat
{
    clear:both
}
