body
{
    background-color: #99CCFF;
    background-image: url("Images/Bkgnd2.png");
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #000000;
}

#Container
{
    background-color:White;
}

#Masthead
{
    background-color:Navy;
    color:White;
    font-size:small;
    text-align:right;
}

#Navigation
{
    background-color: #808080;
    color:#FFFFFF;
}

#MainContent
{
    background-image: url('Images/background.jpg');
    background-repeat: repeat-y;
}

#LeftColumn
{
    text-align:left;
}

#RightColumn
{
    text-align:left;
    font-size:small;
}

#Footer
{
    color:White;
    background-color:Navy;
    text-align:center;
    font-size:14px;
}

h1
{
    font-size:large;
    color:Navy;
}

h2
{
    font-size:10ox;
    color:Navy;
}

h3
{
    font-size:medium;
    color:Navy;
}

.phonenumber
{
    padding-top:5px;
    padding-right:5px;
}

.moveleft
{
    float:left;
}

.moveright
{
    float:right;
}

.leftpad
{
    padding:10px;
}

.rightpad
{
    padding:10px;
}

/* menuitem class is the CssClass value for the asp:Menu StaticMenuItemStyle 
and also the DynamicMenuItemStyle */

#menu
{
    background-color: Red;
}

#menu .menuitem
{
    background-image: url("~/Images/button_0.png");
    background-repeat: no-repeat; 
    height: 30px;
    width: 120px;
    text-align:center;
    padding-top:3px;
    margin:0;
}

/*needed so the asp:Menu control anchor tags when rendered in browser have
transparent background and display as a block rather than inline element */

#menu a, #menu a:visited
{
  background: transparent ! important;
  display: block;
}

/*needed so the asp:Menu control anchor tags when rendered in browser have
transparent background and display as a block rather than inline element */


#menu a:hover, #menu a:active, #menu a:focus
{
  background: transparent ! important;
  display: block;
}


/* hover class is the CssClass value for the asp:Menu StaticHoverStyle and also the
DynamicHoverStyle */
  
#menu .hover { 
  background-image: url("Images/button_1.png");
  background-repeat: no-repeat; 
  }
  

/* selected class is the CssClass value for the asp:Menu StaticSelectedStyle */
 #menu .selected
  {
      background-image: url("Images/button_2.png");
      background-repeat: no-repeat; 
  }
